drwxr-xr-x 1 wolfs 197609    0 Jan 21 17:27 Module8_Causality
drwxr-xr-x 1 wolfs 197609    0 Jan 21 17:27 Module7_Similarity_Clusters
drwxr-xr-x 1 wolfs 197609    0 Jan 21 17:27 Module6_Text_NaiveBayes
drwxr-xr-x 1 wolfs 197609    0 Jan 21 17:27 Module5_ROC_Cost_Visualization
drwxr-xr-x 1 wolfs 197609    0 Jan 21 17:27 Module4_Regularization
drwxr-xr-x 1 wolfs 197609    0 Jan 21 17:27 Module3_Fitting_CrossVal
drwxr-xr-x 1 wolfs 197609    0 Jan 21 17:27 Module2_Supervised
